@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
$Yusei: "Yusei Magic", sans-serif;

#__next {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgba(1, 111, 124, 1) 0%,
    rgba(11, 35, 62, 1) 100%
  );
  color: #e5e5e5;
  font-family: $Yusei;
  a {
    color: #e5e5e5;
  }
}

@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}
